.heading{
  text-align: center;
  color: grey;
}
body{
  background-image: url('imgs/kevin-spacey.jpg');
  background-size: cover;
  height:auto;
}
#display{
  margin-top: 10%;
  margin-left: 15%;
  margin-right: 40%;
  display: block;
  background-color: black;
  color: grey;
  text-align: center;
  border-radius: 15px;
}
.button-primary{
  background-color: grey;
}
#new-quote-btn{
  border-radius: 10px;
  background-color: grey;
  color: white;
}
#new-quote-btn:focus{
  outline: none;
}
.twitter{
  margin-left: 10px;
}
#twitter{
  background-color: grey;
  display: none;
}
#twitter:focus{
  outline: none;
}
footer{
  color: white;
  text-align: left;
  position: absolute;
  bottom: 0px;
  width: 100%;
}
